footer {
  width: 99.6vw;
  position: fixed;
  font-size: 14px;
  bottom: 0;
  left: 0;
  padding: 3px;
  text-align: center;
  box-shadow: 10px 0 10px 1px #888;
}

.social_list {
  color: red;
}

.span2 {
  color: black;
  font-weight: bold;
}

.span {
  color: red;
  font-weight: bold;
} 
